body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ffa69e;
    background-image: linear-gradient(43deg, #ffa69e 0%, #faf3dd 46%, #b8f2e6 100%);
}

nav.navbar{
    border-radius: 0px;
    z-index: 9999;
    background-image: url("images/black-linen.png");
    font-family: 'Montserrat', sans-serif;
}

div.navbar-header{
    font-family: "Sofia", "sans-serif";
}

.header{
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Playfair Display', serif;*/
    font-family: "Georgia", "serif";
    font-style: italic;
    font-size: 70px;
    text-align: center;
    left: 0;
    position: absolute;
    top: 8%;
    width: 100%;
    margin-top: 10px;
}

.bt{
    font-family: "Georgia", "serif";
    text-align: center;
    left: 0;
    position: absolute;
    top: 14%;
    width: 100%;
    margin-top: 8px;
}

.sort{
    background-color: ghostwhite;
    color: black;
    font-family: "Georgia", "serif";
    left: 0;
    position: absolute;
    margin-left: 81%;
    margin-top: 7.9%;
}

.wrapper{
    text-align: center;
    margin: 11.1% auto 80px;
    width: 75%;
    height: auto;
    border: 2px solid transparent;
    background-color: #ffffff;
    /*background-image: url("images/french-stucco.png");*/
    border-radius: 20px;
}

.text-content{
    text-align: left;
    margin: 35px 20px 50px;
    padding: 0px 45px;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.horizontal-line{
    height:2px;
    width:75%;
    border-width:2px;
    color:#2e3138;
    background-color: #2e3138;
}

.date_published{
    color: #5c6270;
    font-size: 10px;
    font-style: italic;
}

.name{
    padding-left: 2px;
    font-style: normal;
    color: #333;
}

.date{
    text-transform: uppercase;
    padding: 4px 0 4px 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
}

.body-preview{
    font-weight: bold;
    font-family: "Times New Roman", "sans-serif";
    margin-left: 50px;
    margin-right: 50px;
    font-size: 13px;
}

.title{
    font-weight: bold;
    font-family: 'Lora', serif;
    margin-top : 20px;
    margin-left: 35px;
    margin-right: 35px;
}



.New-Post{
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
}
/*
.form-control{
    width: 25%;
    margin-left: 38%;
}

label{
    margin-left: -20%;
}

.save{
    margin-top: 20px;
    margin-bottom: 20px;
}
*/
.form-group{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.submit-button{
    text-align: center;
}

.like-button {
    color: green;
    position: absolute;
    margin-top: -35px;
    margin-left: 30%;
}

.dislike-button{
    color: red;
    position: absolute;
    margin-top:-35px;
    margin-left: 40%;
}


hr.solid {
    border-top: 0.1mm solid gray;
    width: 50%;
}

.comments_wrapper{
    text-align: left;
    text-indent: 4em;
}

.total_comments{
    font-size: 15px;
    font-weight: bold;
}

.info{
    text-decoration: underline;
}

.comment_body{
    margin-left: 1%;
}


.submit_btn{
    margin-left: 1%;
    margin-right: 60%;
    font-size: 12px;
    margin-top: -10px;
}

.new_comment{
    margin-left: 2%;
    width: 50%;
}
.requiredField{
    visibility: hidden;
}

/*.report_article{*/
/*    background-color: ghostwhite;*/
/*    color: black;*/
/*    font-family: "Georgia", "serif";*/
/*    left: 0;*/
/*    position: absolute;*/
/*    margin-left: 85%;*/
/*    margin-top: 14.2%;*/
/*}*/

.child_wrapper{
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
}

.mb-3{
    width: 50%;
}

.thanks{
    text-align: center;
    margin: 10% auto;
    width: 60%;
    height: 100px;
    background-color: papayawhip;
    border: 2px solid black;
}

.login_post{
    height: 200px;
}

.login_to_post{
    margin-top: 125px;
}

.report_article{
    font-family: "Georgia", "serif";
    left: 0;
    position: absolute;
    margin-left: 85.3%;
    margin-top: 0.3%;
}


.wrapper1{
    text-align: center;
    margin: 5% auto 80px;
    width: 75%;
    height: auto;
    /*background-color: papayawhip;*/
    border: 2px solid black;
    color: #56585b;
    background-color: #fff;
}


.list_titles{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -5px;
    font-family: 'Lora', serif;
}


.navbar-inverse .navbar-brand {
    color: whitesmoke;
}

.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;

}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #AED9E0;
    font-family: 'Montserrat', sans-serif;

}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #AED9E0;
}





.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #3e95a3 51%, #1A2980  100%);
    width: 12%;
}

.btn-grad {
    margin: auto;
    padding: 15px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.navbar-inverse .navbar-nav>.active>a{
    color: #AED9E0;
}


.signup{
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
}


.text-center{
    font-family: 'Lora', serif;
}





.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}


.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.wrapper2{
    text-align: center;
    margin: 5% auto 80px;
    width: 75%;
    height: 250px;
    border: 2px solid black;
    color: #56585b;
    background-color: #fff;
}

.delete-confirm{
    margin-top: 8%;
    margin-left: 30px;
    margin-right: 30px;
}

.report-items{
    margin-top: 15px;
}


.form-inline .form-control {
    margin-top: 8px;
    background-color: #fff;
}



.btn-outline-success{
    margin-top: 8px;
    border-radius: 0px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding-top: .6rem;
    padding-bottom: .6rem;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-outline-success:hover{
    color: #AED9E0;
}


