<!DOCTYPE html>
<html lang="en">
<head>

    <title>ExpressViews</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'home/images/site.webmanifest' %}">

</head>



<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">    <!-- WATCH THE DJANGO NAVIGATION VIDEOS(CAN ALSO CHANGE THE NAVBAR IN CSS) -->
        <div class="container-fluid">

            <!-- Logo -->
            <div class="navbar-header">
                <a href="{% url 'home:index' %}" class="navbar-brand">ExpressViews</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuItems">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="background: lightgray"></span>
                </button>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="menuItems">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'mysite:Politics_index' %}">Politics</a></li>
                    <li><a href="{% url 'mysite:Sports_index' %}">Sports</a></li>
                    <li class="active"><a href="{% url 'mysite:Tech_index' %}">Tech</a></li>
                    <li><a href="{% url 'mysite:Travel_index' %}">Travel</a></li>
                    <li><a href="{% url 'mysite:Food_index' %}">Food</a></li>
                    <li><a href="{% url 'mysite:Music_index' %}">Music</a></li>
                    <li><form class="form-inline my-2 my-lg-0" action="search/filtered/" method="get">
                        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search</button>
                    </form></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li class="signup"><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>



    <div class="bt">
        <a href="{% url 'mysite:new_post' %}" class="btn-grad" role="button">New Article</a>
    </div>

    <div class="sort">
        <button class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SORT BY <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'mysite:order_likes_tech' %}">Likes</a></li>
                <li><a href="{% url 'mysite:Tech_index' %}">Published</a></li>
            </ul>
        </button>
    </div>



    <div class="wrapper">
        {% block article_content %}

        {% endblock %}
    </div>



</body>
</html>