{% extends "mysite/politics.html" %}


{% block article_content %}
    <h2 class="text-center">Politics Articles</h2>
    <br>
    {% for article in order_likes %}
        <div class="container">
            <h3 class="list_titles"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
            <p class="date_published">Published by {{ article.author }} on {{ article.publish }}</p>
            <div class="body-preview">
            <p>{{ article.body|truncatewords:15|linebreaks }}</p>
            </div>
            <hr class="horizontal-line">
        </div>
    {% endfor %}

    {% include "pagination.html" with page=page_obj%}
{% endblock %}
